.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;

}
.project-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,fr);
     grid-gap:40px;
     padding-bottom: 5rem;
}
.project-card{
    background: black;
    padding: 1.2rem 1rem;
    display: grid;
}
.project-card img{
    width: 100%;


}
.project-title{
    color: #fff;
    padding: 1rem 0;
}
.pro-details p{
      padding-bottom: 1rem;
      font-size: 1rem;
      text-align: justify;
      
}
.pro-btns {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}
.pro-btns .btn{
    padding: 0.5rem ;
}
.btnn{
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background: #f3f3e4;
    color:#222 ;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
  }
  .btnn-light{
   background: transparent;
   color: #fff;
  }
  .btnn:hover{
    background: rgba(225,225,225,0.2);
    color: #fff;
    transition: 0.5s;
  
  }
.btnn{
    margin-left: 2rem;}
@media screen  and(max-width:740px){
    .project-container{
        max-width: 90%;
        margin: auto;
    }
    
}
